@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-xl;
      @apply font-bold;
      @apply my-6;
      @apply xl:text-3xl;
      @apply dark:text-slate-50;
    }
    h2 {
      @apply text-lg;
      @apply font-bold;
      @apply my-4;
      @apply xl:text-xl;
      @apply dark:text-slate-50;
    }
    h3{
      @apply text-base;
      @apply font-bold;
      @apply my-3;
      @apply xl:text-lg;
      @apply dark:text-slate-50;
    }
    p {
      @apply my-2;
      @apply leading-10;
      @apply dark:text-slate-50;
    }
    ul,ol{
      @apply my-2;
      @apply pl-4;
      @apply dark:text-slate-50;
    }
    ul {
      @apply list-disc;
    }
    ol {
      @apply list-decimal;
    }
    th{
      @apply font-bold;
      @apply dark:text-slate-50;
    }
    td{
      @apply dark:text-slate-50;
    }
    pre{
      @apply my-2;
      @apply p-2;
      @apply bg-gray-100;
      @apply rounded-lg;
      @apply overflow-x-auto;
      @apply dark:bg-gray-800;
      @apply dark:text-slate-50;
    }
    code{
      @apply bg-gray-100;
      @apply dark:bg-gray-800;
      @apply dark:text-slate-50;
    }
  }

  .darkmode-toggle:after{
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(51,65,85);
    transition: 0.5s;
  }
  input:hover + .darkmode-toggle:after{
    cursor: pointer;
    width: 35px;
  }
  input{
    width: 0;
    height: 0;
    visibility: hidden;
  }
  input:checked + .darkmode-toggle{
    background: #242424;
  }
  input:checked + .darkmode-toggle:after{
    left: 75px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
    transition: 0.3s;
  }